[Unit]
Description=Prometheus node exporter
Documentation=https://prometheus.io/docs/guides/node-exporter
After=network-online.target

[Service]
User=root
Restart=on-failure

ExecStart= docker run \
                  --name=node-exporter \
                  -d \
                  --rm \
                  -p 9100:9100 \
                  -v "/proc:/host/proc:ro" \
                  -v "/sys:/host/sys:ro" \
                  -v "/:/rootfs:ro" \
                  quay.io/prometheus/node-exporter:v1.2.0 \
                      --path.rootfs=/host
[Install]
WantedBy=multi-user.target

# how to use
# copy to /etc/systemd/system/node-exporter.service
# systemctl daemon-reload ;systemctl restart node-exporter
