[Unit]
Description=Prometheus node exporter
Documentation=https://prometheus.io/docs/guides/node-exporter
After=network-online.target

[Service]
User=root
Restart=on-failure

ExecStart= docker run \
                  --name=node-exporter \
                  -d \
                  --rm \
                  -p 9100:9100 \
                  --health-cmd='wget -q --spider http://localhost:9100/metrics' \
                  --health-interval=300s \
                  --health-retries=3 \
                  --log-driver local \
                  --log-opt max-size=1m \
                  -v "/proc:/host/proc:ro" \
                  -v "/sys:/host/sys:ro" \
                  -v "/:/rootfs:ro" \
                  prom/node-exporter:v1.3.1 \
                      --path.rootfs=/host
[Install]
WantedBy=multi-user.target

# how to use
# copy to /etc/systemd/system/node-exporter.service
# systemctl daemon-reload ;systemctl restart node-exporter
