[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=root
Restart=on-failure

ExecStart=docker run \
                  --name=prometheus \
                  -d \
                  --rm \
                  -v /efs/monitoring/prometheus/data/:/var/lib/prometheus/data/ \
                  -v /efs/monitoring/prometheus/etc/:/etc/prometheus/ \
                  -v /efs/monitoring/prometheus/log/:/var/log/prometheus/ \
                  quay.io/prometheus/prometheus:v2.28.1 \
                      --config.file=/etc/prometheus/prometheus.yml \
                      --storage.tsdb.path="/var/lib/prometheus/data/"

[Install]
WantedBy=multi-user.target
